@charset 'UTF-8';

@media screen and (min-width: 768px) and (max-width: 992px) {

    section#login{
        width: 80vw;
        height: 350px;
    }
    div#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }
    
    div#formulario{
        float: right;
        width: 70%;
    }

    body{
        background-image: linear-gradient(to top, #F9BCBA, #963D5A);
    }

    div#formulario > h1{
        font-size: 20px;
    }
    div#formulario > p{
        font-size: 17px;
       }
}

@media screen and (min-width: 992px) {
   section#login{
    width: 950px;
    height: 370px;
   }

   div#imagem{
    float: left;
    width: 50%;
    height: 100%;
   }

   div#formulario{
    float: right;
    width: 50%;
   }

   body{
    background-image: linear-gradient(to top, #F9BCBA, #963D5A);
}

div#formulario > h1{
    font-size: 25px;
}

div#formulario > p{
    font-size: 20px;
   
}
}