@charset 'UTF-8';
:root{
    --cor01:#F9BCBA;
    --cor02:#4C191B;
    --cor03:#963D5A;
    --cor04:#ECFFF8;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;}

body, html{
    background-color: var(--cor03);
    height: 100vh;
    width: 100vw;    }
    
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    background-color: var(--cor04);
    width: 260px;
    height: 535px;
    top: 50%;
    left: 50%; 
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.623);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);

}

div#imagem{
    display: block;
    background-image: url('../pexels-moose-photos-170195-1037994\ \(1\).jpg');
    height: 200px;
    background-size: cover;
   }


div#formulario{
    padding: 10px;
    display: block;

}

div#formulario > h1{
    text-align: center;
    padding: 8px;
}

div#formulario > p{
    text-align: justify;
    font-size: 15px;
   
}

div.campo{
    background-color: var(--cor01);
    width: 100%;
    height: 40%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 8px;
}

div.campo > input{
    height: 100%;
    width: 100%;
    padding: 2px;
    border-radius: 5px;
    border: none;
    font-size: 1em;

}


span#icon{
    color: white;
    font-size: 1.5em;
    width: 30px;


}
form > input[type=submit]{
    display: block;
    font-size: 15px;
    width: 100%;
    height: 40px;
    background-color: var(--cor02);
    color: white;
    border: none;
    border-radius: 5px;

}

form > input[type=submit]:hover{
    cursor: pointer;
    background-color: var(--cor01);
    text-decoration: underline;
    color: black;
}

a{
    display: block;
    font-size: 15px;
    width: 100%;
    height: 40px;
    background-color: var(--cor03);
    color: white;
    border: none;
    margin-top: 8px;
    padding-top: 8px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;

}

a:hover{
    background-color: var(--cor01);
    text-decoration: underline;
    color: black;
  
}

